<?xml version="1.0"?>
<ruleset name="WDOD Site Toolkit" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd">
	<description>Coding standards for WDOD Site Toolkit.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>
	<arg name="parallel" value="8"/>
	<arg name="cache" value=".phpcs-cache"/>

	<config name="minimum_wp_version" value="6.4"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="wdod-site-toolkit"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="wdod_site_toolkit"/>
				<element value="WDOD\SiteToolkit"/>
				<element value="WDOD_SITE_TOOLKIT"/>
			</property>
		</properties>
	</rule>

	<!-- Views are plain templates; a file-level docblock is enough there. -->
	<rule ref="Squiz.Commenting.FileComment.MissingPackageTag">
		<exclude-pattern>*/includes/admin/views/*</exclude-pattern>
	</rule>
</ruleset>
